.heading{
    align-items: left;
    flex-wrap: wrap;
    display: flex ; 
    flex-direction: row;
    justify-content: left;
    padding: 5px;
    margin-bottom: 10px;
    background-color:whitesmoke;

}
.heading h1{
    margin-left: 10px; 
}
.card__body{
    display: flex;
    font-size: large;
    padding: 10px;
    background-color: whitesmoke;

}
.card__item{
    border: 1px solid black;
    padding: 10px;
    width: 30%;
    margin-right: 10px;
    background-color: whitesmoke;
    
}
.card__item img{
    
    
    
}
.card__itemTwo{
    border: 1px solid black;
    padding: 10px;
    width: 70%;
    background-color: whitesmoke;

}
.master{
    background-color: grey;
    padding: 10px;
    margin-bottom: 10px;
}
.card__img{
    width: 100%;
    border: 1px solid black;
    align-content: center;
}